<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MemberManager</display-name>
    <servlet-name>MemberManager</servlet-name>
    <servlet-class>kr.co.manager.MemberManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberManager</servlet-name>
    <url-pattern>/MemberManager</url-pattern>
  </servlet-mapping>
  <display-name>memberManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginOk</display-name>
    <servlet-name>loginOk</servlet-name>
    <servlet-class>kr.co.manager.loginOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>JoinOk</display-name>
    <servlet-name>JoinOk</servlet-name>
    <servlet-class>kr.co.manager.JoinOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MemberEdit</display-name>
    <servlet-name>MemberEdit</servlet-name>
    <servlet-class>kr.co.manager.MemberEdit</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PersonalEdit</display-name>
    <servlet-name>PersonalEdit</servlet-name>
    <servlet-class>kr.co.manager.PersonalEdit</servlet-class>
  </servlet>
</web-app>